.admin-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0.5rem;
  }
  
  .admin-menu{
    margin: auto;
  }
  

  .admin-content {
    flex-grow: 1;
    padding: 0 80px; /*padding değişebilir*/
  }
  
  .datatable-for-edit{
    padding: 0 !important;
  }

  .admin-content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }


.app-container {
    display: flex;
    height: 100vh;
}

.sidebar-wrapper {
    flex: 0 0 auto;
    width: 250px;
}

::-webkit-scrollbar {
    width: 6px; 
  }
::-webkit-scrollbar-track {
    margin: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 10px;
   
  }

  body.dark ::-webkit-scrollbar-thumb {
    background-color: #9d9b9b;
  }

.tabs {
    flex-grow: 1;
    background-color: #ffffff;
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 45px;
    background-color: transparent;
}


.custom-card {
    position: relative;
  }
  
  .custom-button-word {
    position: relative;
    right: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    height: 2.8rem;
    z-index: 1;
  }

  .custom-button-meaning {
    position: relative;
    right: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    height: 2.8rem;
    z-index: 1;
  }

/* Dark theme styles for TabMenu */
body.dark .p-tabmenu .p-tabmenu-nav {
    background: #121212;
 
}

body.dark .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: #121212;
    color: #fff;
}

body.dark .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #1e1e1e;
    border-color: #333;
}


 body.dark .card-list.animate__animated.animate__fadeIn{
    color: white;
  }

  body.dark .p-contextmenu.p-component.p-ripple-disabled.p-contextmenu-enter-done
 {
    background-color: #222222;
    transition: none !important;
  }


.p-button-rounded.p-button-success.p-mr-2.p-button.p-component.p-button-icon-only{
    background-color: #192857 ;
    border: #192857;
  }
  
body.dark .p-button-rounded.p-button-info{
    background-color: #0c889e;
}

tr.p-row-odd{
    background-color: rgb(255, 255, 255) !important;
    
}

tr[aria-expanded="false"] {
    background-color: rgb(238, 238, 253) !important;
    
}


body.dark tr[aria-expanded="false"],
body.dark tr[aria-expanded="true"]{
    background-color: #111111 !important;
    
}

body.dark .p-autocomplete-items,
body.dark .p-autocomplete-panel{
    background-color: #111111 !important;
    border-radius: 16px; /*olsun mu olmasın mı sor*/
    
}

tr[aria-expanded="true"] {
    background-color: rgb(255, 255, 255) !important;
    
}


.p-treetable-tbody {
    text-transform: capitalize;
}

.p-menuitem-text{
    font-size:18px;
}

.delete-word{
    cursor: pointer;
    color: #929292;
    background-color: transparent;
    transition: 0.2s ease all;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.delete-word:hover{
    background-color: #ef4444;
    color: white;
}

body.dark tr.p-row-odd{
    background-color: #111111 !important;
}

 body.dark .p-button-rounded.p-button-success.p-mr-2.p-button.p-component.p-button-icon-only{
    background-color: #0a4682;
  }

.p-button-rounded{
    height:40px;
    width: 40px;
    margin-left: 10px;
}

.sidebar {
    /* margin-top: 100px; */
    margin-left:-40px;
    position: fixed;
    z-index: 1
}

.datatable-for-edit {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.ps-menuitem-root.sidebar-menu-item {
    max-width: 80px;
    width: 80px;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #192857;
    color: white;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    transition: width 0.3s ease;
    position: relative;
}

.ps-menuitem-root.sidebar-menu-item.hovered {
    max-width: 250px;
    width: 250px;
    border-top-right-radius: 50px;
    border-end-end-radius: 50px;
}

.ps-menuitem-root.sidebar-menu-item.notification.hovered {
    max-width: 250px;
    width: 250px;
    border-top-right-radius: 50px;
    border-end-end-radius: 50px;
    
}

.notification-badge {
    margin-left: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #0EA5E9;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.p-column-filter-menu-button{
    background-color: #363638 !important;
}

.p-column-filter-overlay{
    background-color: #1f1f1f !important;
}
.p-column-filter-overlay .p-highlight{
    background-color: #494848 !important;
    color: white;
}
.p-column-filter-overlay .p-highlight :hover{
    background-color: #1f1f1f !important;
}

.ps-menuitem-root.sidebar-menu-item.hovered .notification-badge {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #192857;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 1rem;
  }


.ps-sidebar-container {
    background-color: transparent !important;
}

.ps-sidebar-root {
    border: none !important;
    
}

.sidebar-menu-item:hover {
    background-color: #1D91D0;
    cursor: pointer;
}

.ps-menu-button:hover {
    background-color: inherit !important;
    color: inherit !important;
}



body.dark .pi.pi-plus.floating-button.p-button.p-component{ /*iconun rengi pembe oluyor, silersen mavi*/
    background-color:#0a4682;
}
.ps-menu-label {
    white-space: unset !important;
    text-align: center;
    line-height: 28px;
}

.ps-menu-icon {
    padding: 0;
}

.p-tabview-nav {
    display: none;
}

.text-content>p{
    text-indent: 2rem;
}
.p-datatable-header {
    
    border-radius: 15px;
    margin-bottom: 15px;
}

.p-row-editor-init-icon {
    color: #1D91D0;
}

.p-datatable .p-datatable-thead > tr > th{
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #374151;
    background: #f9fafb;
    transition: box-shadow 0.2s;
}

.p-row-odd{
    background-color: #F9FAFB;
}

.p-orderlist-list-container{
    height: 25rem;
}

.p-orderlist-list{
    height: 20rem;
}

.p-orderlist-controls{
    margin-top: 5rem;
}

.arrow-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.arrow-container > div > i {
    font-size: 25px;
}

.tooltip-word-delete{
    position:left !important;
}

.row-color-1 {
    background-color: #f0f8ff;
  
}
  
.row-color-2 {
    background-color: #ffe4e1; 
}