/* Sidebar styles */
.sidebar {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  top: 0;
}

/* Description container styles */
.description-container {
  flex: 1;
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

.description-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  transition: all 0.3s ease;
}

.description-content.with-selected-word {
  margin-right: 330px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 16px; 
}

.card-sss {
  background-color: #f4f4f4;
  border-radius: 0 !important;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cards-container > .card-sss:nth-child(4n-3) {
  grid-column: span 2; 
  background-color: #e3e3e3; 
}

.cards-container > .card-sss:nth-child(4n-2),
.cards-container > .card-sss:nth-child(4n-1) {
  grid-column: span 1; 
}

.cards-container > .card-sss:nth-child(4n) {
  grid-column: span 2; 
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin: 0; 
}



.tip-section {
  position: fixed;
  right: 0;
  top: 105px;
  bottom: 0;
  width: 0;
  padding: 0;
  overflow-y: auto;
  /* transition: all 0.3s ease; */
  opacity: 0;
  visibility: hidden;
}

/* Only show tip section when word is selected */
.tip-section.with-cards {
  width: 330px;
  padding: 0.5rem 1.5rem 1rem 1rem;
  opacity: 1;
  visibility: visible;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .description-content.with-selected-word {
    margin-right: 240px;
  }

  .tip-section.with-cards {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .description-container {
    flex-direction: column;
  }

  .description-content,
  .description-content.with-selected-word {
    margin-right: 0;
  }

  .cards-container {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .tip-section,
  .tip-section.with-cards {
    position: relative;
    width: 100%;
    top: 0;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
  }
}

.tip-section-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body.dark .card-sss{
  background-color: #07080bc3 !important;
  backdrop-filter: blur(3px);
}

.add-button {
  margin-left: auto;
  display: block; 
}

.descriptions {
  width: 100%;
  max-width: 90%;
  padding: 16px;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .descriptions {
    max-width: 850px;
  }
}

.description-sentence {
  padding-left: 5%;
  padding-top: 2%;
}

.description-field {
  padding: 5px;
}

.empty-state {
  text-align: center;
  justify-content: center;
  padding: 60px 0 0 0;
}

body.dark .empty-state {
  color: #ccc;
}

/* Ribbon styles */
.ReactRibbons_ribbonContainer_vFu7ad7Mhf4adfHEI1f3 {
  width: 100%;
  max-width: 850px;
  margin-left: 0;
  margin-top: 20px;
}

.ReactRibbons_leftLargeRibbon_gKkDpYQyfk5jpV4ST8hM {
  z-index: 1;
  margin-left: 30px;
}

/* Card list styles */
.card-list {
  flex-direction: column;
  gap: 0.8rem;
}

.custom-card {
  width: 100%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-left: 30px;
  border-radius: 0 !important;
}

.card-content {
  display: flex;
  align-items: stretch;
}

.text-content {
  flex: 1;
  padding: 1rem;
}

/* Button styles */
.action-buttons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
}

.custom-button-like,
.custom-button-star,
.custom-button-recommend {
  font-size: 1.4rem;
  padding: 0.5rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.custom-button-star.favorited {
  color: #fbbf24;
}

.custom-button-like.liked {
  color: #06b6d4;
}

.first-letter {
  text-transform: uppercase;
}

.existing-descriptions {
  padding: 10px 0 0 25px;
}

/* Custom scroll styles */
.sidebar::-webkit-scrollbar,
.description-content::-webkit-scrollbar,
.tip-section::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.sidebar::-webkit-scrollbar-track,
.description-content::-webkit-scrollbar-track,
.tip-section::-webkit-scrollbar-track {
  background: transparent;
}

body.dark .sidebar::-webkit-scrollbar-track,
body.dark .sidebar::-webkit-scrollbar-thumb, /*dark temada scrollu transparent yapan kısım*/
body.dark .description-content::-webkit-scrollbar-track,
body.dark .tip-section::-webkit-scrollbar-track {
  background-color: #495057;
  border-radius: 2px;
  background: transparent;
}

.description-content::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3px;
  border: transparent;
}

.sidebar::-webkit-scrollbar-thumb,
.tip-section::-webkit-scrollbar-thumb {
  background-color: #ececec;
  border-radius: 3px;
  border: transparent;
  background: transparent; /*thumbı transparent yapan kısım*/
}

.sidebar::-webkit-scrollbar-thumb:hover,
.description-content::-webkit-scrollbar-thumb:hover,
.tip-section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background: transparent;
}

/* Top list styles */
.card-sss .top-list {
  list-style-type: none;
  padding-top: 10px;
  margin: 0;
  width: 100%;
  text-transform: capitalize;
 
}

.number-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 1em;
  color: white;
  cursor:pointer;
}

.number-box:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

/* Number box gradients */
.top-list > div:nth-of-type(1) .number-box {
  background: linear-gradient(135deg, #0d47a1, #1565c0);
  box-shadow: 0 4px 6px rgba(13, 71, 161, 0.5);
  border: 2px solid #1976d2;
}

.top-list > div:nth-of-type(2) .number-box {
  background: linear-gradient(135deg, #1565c0, #1e88e5);
  box-shadow: 0 4px 6px rgba(21, 101, 192, 0.5);
  border: 2px solid #42a5f5;
}

.top-list > div:nth-of-type(3) .number-box {
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
  box-shadow: 0 4px 6px rgba(30, 136, 229, 0.5);
  border: 2px solid #64b5f6;
}

.top-list > div:nth-of-type(4) .number-box {
  background: linear-gradient(135deg, #42a5f5, #90caf9);
  box-shadow: 0 4px 6px rgba(66, 165, 245, 0.5);
  border: 2px solid #bbdefb;
}

.top-list > div:nth-of-type(5) .number-box {
  background: linear-gradient(135deg, #90caf9, #e3f2fd);
  box-shadow: 0 4px 6px rgba(144, 202, 249, 0.5);
  border: 2px solid #e3f2fd;
}

/* Card content styles */
.p-card .p-card-content {
  padding: 0;
  color:white;
}

.p-card-title{
  color:white;
}

.word-info {
  display: flex;
  flex-direction: column;
}

.word-info-favorite {
  padding: 5px 0 0 20px;
}

.star-icon {
  padding: 10px 0 0 15px;
  color: #fbbf24;
}

.favorite-words-list {
  max-height: 250px;
  overflow-y: auto;
  width: auto;
  text-transform: capitalize;
}

.word-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

body.dark .word-name {
  color: #ffffff;
}

.word-details {
  font-size: 12px;
  color: #a6a6a6;
}

/* Card extra styles */
.card-extra {
  width: 100%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.card-sss .p-card-title,
.card-extra .p-card-title {
  font-size: 1.3rem;
  color:white;
}

.card-sss .p-card-content,
.card-extra .p-card-content {
  font-size: 0.9rem;
}

.card-sss img {
  width: 50px;
  padding: 4px;
  padding-top: 0.8rem;
}

.card-extra .p-card-title {
  color: #495057;
}

.card-extra .p-card-content {
  color: #6c757d;
}

.digital-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Arka plan tıklamaları engellemek için */
  z-index: -1;
  overflow: hidden;
  background-color: transparent; /* İstenirse renk değiştirilebilir */
}

.floating-character {
  position: absolute;
  font-family: "Courier New", monospace;
  font-weight: bold;
  animation: floatCharacters linear infinite;
  will-change: transform, opacity; /* Performansı artırır */
}

@keyframes floatCharacters {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  100% {
    transform: translateY(120vh);
    opacity: 1;
  }
}

body.dark .recommend-style{
  background-color: #27b4bb;
  border-color: #27b4bb;
  border-radius: 0 !important;
}

.recommend-style{
  border-radius: 0 !important;
}

