.header-left {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-logo {
  height: 50px;
  margin-right: 15px;
  margin-top: 8px;
}

.title {
  width: 216px;
  padding-left: 32px;
  padding-bottom: 6px;
}

.header-center {
  display: grid;
  place-items: center;
}

.user-info-button {
  background: transparent !important;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
}

.user-info-button .p-button-icon {
  font-size: 1rem;
  color: #ccc;
}

.user-info-button:hover {
  background-color: white !important;
}

.user-info-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px aqua !important;
}

.header-right {
  padding-right: 45px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .header-right {
    gap: 0.5rem;
  }
}

.header-right .user-icon {
  background-color: #2494d1;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

main {
  margin-top: 80px;
  padding: 1em;
}

.custom-header {
  color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 20px;
  width: 100%;
}

body.dark .custom-header {
  border-color: #3c3b3b;
}

.floating-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ccc;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border: 2px solid #ccc;
}

.p-dialog-content {
  padding: 1rem 2.5rem 2rem;
  font-size: 1rem;
}

.p-dialog-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.p-dialog-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.info-button {
  color: #ccc;
  border: 2px solid #ccc;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-button .p-button-icon {
  font-size: 1rem;
}

.info-button:hover {
  background-color: rgba(66, 150, 244, 0.1);
}

.theme-toggle {
  margin-right: 8px;
}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

/* Dark theme */
body.dark {
  background-color: #000000 !important;
}

body.dark .p-card {
  background-color: #07080ba1 !important;
  backdrop-filter: blur(4px);
}

body.dark .sidebar-menu-item,
body.dark .p-tabview-panels,
body.dark .datatable-for-edit,
body.dark .p-orderlist-header,
body.dark .p-datatable-header,
body.dark .p-datatable-wrapper,
body.dark .p-column-filter,
body.dark .p-filter-column,
body.dark .p-filter-column .p-column-title,
body.dark .p-datatable-thead {
  background-color: #111111 !important;
}

body.dark .p-inputtext {
  background: transparent;
}

body.dark .react-joyride__tooltip {
  background-color: #424242 !important;
}

body.dark .react-joyride__tooltip div {
  color: #ffffff;
}

body.dark button[data-test-id="button-skip"] {
  color: #ffffff !important;
}

body.dark button[data-test-id="button-back"] {
  color: #ffffff !important;
}

body.dark button[data-test-id="button-primary"] {
  background-color: #0a2c9e !important;
}

body.dark .datatable-for-edit h2,
body.dark .p-column-title,
body.dark .m-0 {
  color: #cccccc;
}

body.dark .p-tag-value {
  color: white;
}

body.dark .p-dialog-header,
body.dark .p-dialog-content {
  background-color: #111111;
  color: white;
}

/* body.dark .p-component {
  color: #d0d0d0;
} */

/* body.dark .p-button {
  background-color: #0a4682;
  border-color: #0a4682;
} */

body.dark tr[tabindex="0"],
body.dark .p-treetable-emptymessage {
  /*satırları siyah yapıyor*/
  background-color: #111111;
  color: #cccccc;
}

body.dark th[data-pc-section="headercell"] {
  background-color: #111111;
  color: #cccccc;
}

body.dark .p-filter-column,
body.dark .p-dialog-footer {
  background-color: #111111;
}

body.dark .p-editable-column,
body.dark .p-treetable-header {
  background-color: #111111;
}

body.dark .p-row-odd {
  background-color: #111111;
}

body.dark .searcher :placeholder-shown {
  color: #ffffff !important;
}

body.dark td[data-pc-name="datatable"] {
  background-color: #111111;
  color: #b6b2b2;
  /*buraya bak*/
}

body.dark .p-focus {
  background-color: #444444;
}

body.dark .p-dropdown-items-wrapper {
  background-color: #1f1f1f;
}

body.dark .p-button-danger.p-button.p-component {
  background-color: #ef4444;
  border-color: #ef4444;
}

body.dark .p-overlaypanel-content {
  background-color: #111111;
}

body.dark .custom-card {
  background-color: #111111;
  color: white;
}

body.dark .p-paginator-page {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #444444;
}

body.dark .p-paginator-bottom,
body.dark .p-orderlist-header {
  background-color: #111111;
}

body.dark .accordion-word {
  color: #4296f4;
}

body.dark .accordion-tab {
  background-color: black;
}

body.dark .p-accordion-content {
  background-color: #000000;
}

body.dark .p-virtualscroller-content {
  background-color: #000000;
}

body.dark .modal-searcher .p-autocomplete-input {
  background-color: #111111 !important;
  color: #ffffff !important;
  border: 1px solid #06b6d4 !important;
}

body.dark .p-orderlist-item {
  color: #cccccc !important;
}

body.dark .p-orderlist-item.p-highlight {
  background-color: #1f1f1f !important;
}

body.dark .p-orderlist-item[data-p-highlight="false"] {
  background-color: #111111 !important;
  color: #cccccc !important;
}

body.dark .p-orderlist-list {
  background-color: #111111;
}

body.dark .custom-header {
  background-color: rgba(0, 0, 0, 0.9);
  /* alpha 0.9 ayarladım*/
}

body.dark .header-left h2 {
  color: #ffffff;
  font-size: 26px;
}

body.dark .user-info-button {
  background: transparent !important;
}

body.dark .user-info-button:focus {
  box-shadow: 0 0 0 2px #333, 0 0 0 5px aqua !important;
}

body.dark .p-accordion-header-link {
  background-color: black;
  color: #4296f4;
}

.home-layout {
  display: flex;
  background-color: red;
  background-image: url('full-screen.PNG');
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000; /* Ensure it's above other content */
}

.content-area {
  margin-left: 250px; /* Adjust based on your sidebar width */
  width: calc(100% - 250px);
}
