
.p-autocomplete-input {
    width: 200px; 
    border: 1px solid #06b6d4;
    border-radius: 15px;
    padding: 8px;
    font-size: 18px; 
}



@media only screen and (max-width: 1200px) {
    .searcher {
        margin: 0;
    }
    .p-autocomplete-input {
        max-width: 350px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
    .p-autocomplete-input {
        max-width: 300px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .searcher {
        margin-top: 20px; 
    }
    .p-autocomplete-input {
        max-width: 250px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .p-autocomplete-input {
        max-width: 200px;
        font-size: 12px;
    }
}