.searcher {
    margin-left: 520%;
}

.p-autocomplete-input {
    width: 200px; 
    border: 1px solid #06b6d4;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px; 
}



@media only screen and (max-width: 1200px) {
    .searcher {
        margin-left: 20%;
    }
    .p-autocomplete-input {
        width: 400px; 
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px) {
    .searcher {
        margin-left: 10%;
    }
    .p-autocomplete-input {
        width: 350px; 
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .searcher {
        margin-left: 5%;
        margin-top: 100px; 
    }
    .p-autocomplete-input {
        width: 250px; 
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .searcher {
        margin-left: 0;
    }
    .p-autocomplete-input {
        width: 200px; 
        font-size: 12px;
    }
}