/* Genel Container ve Arka Plan Stili */

.signin-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("full-screen.PNG");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center; /*yatay ve dikey ortalandı*/
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* Floating Elementler */

/* .floating-element {
    position: absolute;
    opacity: 0.2;
    color: #333;
    user-select: none;
    transition: all 0.3s ease;
}

.floating-letter {
    font-family: 'Pacifico', cursive;
    opacity: 0.25;
}

.floating-icon {
    opacity: 0.15;
} */

/* Login Sayfa Stilleri */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

.login-card {
  width: 100%;
  max-width: 800px;
  height: 400px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(2px);
  overflow: hidden;
  position: relative;
  flex-direction: row;
  margin: 20px;
}

.left-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-section {
  width: 40%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.189);
  flex: 1;
}

.right-section {
  width: 60%;
  height: 100%;

  flex: 1;
}


.signin-form {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.signin-form .p-field {
  margin-bottom: 1rem;
}

.p-inputtext {
  background: transparent;
  color: white;
}


.p-password-input {
  width: 17rem;
}

.signin-form .p-input-icon-left .pi {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.signin-form .p-button {
  width: 100%;
  background-color: #89898924;
  border-color: #515151;
}
.signin-form .p-button:hover {
  background-color: #1c1c1c59;
}

@media (max-width: 992px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }

  .left-section,
  .right-section {
    width: 100%;
    clip-path: none;
  }

  .signin-form {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .login-card {
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .login-card {
    margin: 5px;
  }

  .signin-form {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
  }
}
