body {
  padding: 0;
  margin: 0;
}

.timeline-word {
  font-size: 18px;
  background-color: #20211c;
  padding: 8px 10px; 
  color: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 15px;
  display: inline-block; 
}

.timeline-description {
  color: #f2f2f2f2;
  margin-bottom: 20px;
}

.step-parent {
  margin: 50px 100px ;
}

.step-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 33.33%;
  padding-bottom: 10px;
  float: left;
}

.name {
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 14px;
  color: #b5b5b5;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.line {
  height: 2px;
  background-color: #ccc;
  flex: 1;
}


.step-container.blue .circle,
.step-container.blue .line {
  background-color: #ffce34;
}


.status-1 .step-container:nth-child(n-3) .circle,
.status-1 .step-container:nth-child(n-3) .line {
  background-color: #ffcf2c;
}


.status-2 .step-container:nth-child(-n+2) .circle,
.status-2 .step-container:nth-child(-n+2) .line {
  background-color:  #ffcf2c;
}


.status-4 .step-container:nth-child(-n+2) .circle,
.status-4 .step-container:nth-child(-n+2) .line {
  background-color:  #ffcf2c;
}

.status-3 .step-container .circle,
.status-3 .step-container .line {
  background-color: #ffcf2c;
}


.status-1 .step-container:nth-child(3) .circle,
.status-1 .step-container:nth-child(3) .line {
  background-color: #69d500; 
}


.status-3 .step-container:nth-child(3) .circle,
.status-3 .step-container:nth-child(3) .line {
  background-color: #fb002e;
}

.timeline-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.timeline-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}